body,
h1,
h2,
h3 {
  font-family: "仿宋";
  padding: 0;
  margin: 0;
  color: white;
}
:root {
  --bgcolor: rgba(0, 0, 0, 0.651);
}
.main {
  background: url(images/bg.png) no-repeat;
  background-size: 100% 100%;
  height: 100vh;
  width: 100%;
  position: relative;
}
header {
  height: 10vh;
  display: flex;
  justify-content: space-between;
}
header .top_left {
  background-color: rgba(0, 0, 0, 0.651);
  width: 600px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header .top_left img {
  width: 70px;
  height: 70px;
}
header .top_right {
  background-color: rgba(0, 0, 0, 0.699);
  width: 800px;
  display: flex;
  flex-direction: column;
}
header .top_right .top_date {
  display: flex;
  justify-content: center;
}
header .top_right .top_resource {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
header .top_right .top_resource div {
  display: flex;
  align-items: center;
}
header .top_right .top_resource img {
  width: 70px;
  height: 70px;
}
header .top_right .top_resource span {
  font-size: 50px;
  color: #ffffff;
}
section {
  height: 90vh;
  display: flex;
  justify-content: space-evenly;
}
section .l_content {
  width: 50%;
}
section .l_content div:nth-child(1) .firework {
  margin-top: 30px;
  width: 500px;
  height: 200px;
  display: flex;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
  justify-content: center;
  align-items: center;
  background-color: var(--bgcolor);
}
section .l_content div:nth-child(1) .firework a {
  display: block;
  height: 100px;
  text-decoration: none;
  color: white;
  font-size: 80px;
}
section .l_content div:nth-child(1) .firework a::before {
  display: inline-block;
  width: 100px;
  height: 70px;
  background-size: 100%;
  content: "";
  background-image: url(images/烟花.png);
}
section .l_content div:nth-child(1) .firework:hover {
  background-color: #d6d4d4;
}
section .l_content div:nth-child(2) {
  margin-top: 30px;
  background-color: var(--bgcolor);
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
  width: 600px;
  height: 400px;
  display: flex;
  justify-content: space-around;
}
section .l_content div:nth-child(2) .l_info {
  width: 300px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section .l_content div:nth-child(2) .l_info .rank {
  width: 150px;
  height: 150px;
  border: 3px solid yellow;
  text-align: center;
  line-height: 150px;
  border-radius: 50%;
}
section .l_content div:nth-child(2) .l_info .rank span {
  font-size: 70px;
  color: white;
}
section .l_content div:nth-child(2) .l_info h3 {
  display: block;
  margin-top: 30px;
  color: white;
  font-size: 50px;
}
section .l_content div:nth-child(2) .r_info {
  width: 300px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.034);
  display: flex;
  justify-content: center;
}
section .l_content div:nth-child(2) .r_info img {
  display: block;
  margin-top: 250px;
  margin-left: 40px;
  width: 70px;
  height: 70px;
}
section .l_content div:nth-child(3) {
  margin-top: 30px;
  background-color: var(--bgcolor);
  height: 200px;
  width: 650px;
  display: flex;
  align-items: center;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
}
section .l_content div:nth-child(3) #hide {
  text-align: center;
  line-height: 200px;
  font-size: 70px;
  cursor: pointer;
}
section .l_content div:nth-child(3) #show {
  text-align: center;
  line-height: 200px;
  font-size: 70px;
  cursor: pointer;
  display: none;
}
section .l_content div:nth-child(3) #hide:hover {
  color: aquamarine;
}
section .l_content div:nth-child(3) #show:hover {
  color: aquamarine;
}
section .l_content div:nth-child(3) span {
  margin-left: 20px;
  display: block;
  border-radius: 10px;
  height: 100%;
  width: 300px;
}
section .l_content div:nth-child(3) span h3 {
  display: block;
  margin-top: 20px;
  text-align: center;
  background-color: rgba(117, 117, 117, 0.377);
  border-radius: 10px;
}
section .r_content {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
section .r_content .one {
  flex-shrink: 0;
  width: 800px;
  height: 250px;
  background-color: var(--bgcolor);
  display: flex;
  border-radius: 20px;
}
section .r_content .one div:nth-child(1) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
}
section .r_content .one div:nth-child(1) .tili {
  width: 150px;
  font-size: 70px;
  height: 150px;
  border: 4px black solid;
  border-bottom: 4px #e0e0e0 solid;
  border-left: 4px #c7c7c7 solid;
  border-top: 4px #bebebe solid;
  border-radius: 50%;
  text-align: center;
  line-height: 150px;
}
section .r_content .one div:nth-child(1) span {
  font-size: 30px;
}
section .r_content .one div:nth-child(2) {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
section .r_content .one div:nth-child(2) img {
  border-radius: 10px;
  height: 80%;
  width: 80%;
}
section .r_content .two {
  flex-shrink: 0;
  border-radius: 20px;
  width: 800px;
  height: 150px;
  background-color: var(--bgcolor);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
section .r_content .two .formation {
  font-size: 60px;
}
section .r_content .two .formation:hover {
  color: #538373;
}
section .r_content .two .line {
  border: 1px white solid;
  height: 90px;
}
section .r_content .two .member {
  font-size: 60px;
}
section .r_content .two .member:hover {
  color: #538373;
}
section .r_content .three {
  flex-shrink: 0;
  border-radius: 20px;
  width: 800px;
  height: 150px;
  background-color: var(--bgcolor);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  font-size: 60px;
}
section .r_content .three .shop {
  width: 50%;
}
section .r_content .three .shop:hover {
  color: #538373;
}
section .r_content .three .line {
  border: 1px white solid;
  height: 90px;
}
section .r_content .three .conscribe {
  width: 50%;
  display: flex;
  justify-content: space-around;
  font-size: 40px;
}
section .r_content .three .conscribe .free:hover {
  color: #538373;
}
section .r_content .three .conscribe .unfree:hover {
  color: #538373;
}
section .r_content .four {
  flex-shrink: 0;
  border-radius: 20px;
  width: 800px;
  height: 150px;
  background-color: var(--bgcolor);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
section .r_content .four .line {
  border: 1px white solid;
  height: 90px;
}
section .r_content .four .task {
  font-size: 60px;
}
section .r_content .four .task:hover {
  color: #538373;
}
section .r_content .four .basic {
  font-size: 60px;
}
section .r_content .four .basic:hover {
  color: #538373;
}
section .r_content .four .depot {
  font-size: 60px;
}
section .r_content .four .depot:hover {
  color: #538373;
}
